*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
body{
    background-color: #F5F7FA;
    color: #000000;
    max-height: 100vh;
}
main{
  padding: 20px;
  padding-bottom: 0px;
}
.main-content{
    display: flex;
    flex-direction: row;
    gap: 40px;

}
.main-heading{
    text-align: center;
    font-size: 32;
    font-weight: bold;
}
.back-btn{
    height: 40px;
    width: 75px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
}
.left-section{
    max-width: 210px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-shrink: 0;
    gap: 50px;
    margin-left:40px;
}
.card{
    min-height: 150px;
    border: 1px solid black;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.card1{
    background-color: #E53935;
}
.card2{
    background-color: #FBC02D;

}
.card3{
    background-color: #43A047;

}
.card-title{
    font-size: 24px;
    font-weight: 600;
}
.card-data{
    font-size: 48px;
    font-weight: 600;
}
.right-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.right-section1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input{
    border: 1px solid black;
    border-radius: 8px;
    height: 40px;
    max-width: 210px;
    padding: 15px;
    margin-top: 10px;

}
.right-section-table{
    display: flex;
    width: 100%;
    max-height: 530px;
    border-radius: 20px;
    border: 1px solid lightgrey;
    background-color: white;
    overflow: scroll;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index:1;

 
}
.orders-table{
    flex: 1;
    height: 100%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    border-collapse: collapse;
}
th{
    background-color: #D9D9D9;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
tr{
    height: 71px;
    border-bottom: 1px solid lightgrey;
}
td{
    font-size: 20px;
    font-weight: 800;
}
.btn{
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
    max-width: 160px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 5px;
    border: none;
}
.delivered{
    background-color: #3599E5;
}
.preparing{
    background-color: #E53935;
}
.pending{
    background-color: #FBC02D;
}
.ready{
    background-color: #43A047;
}

