*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  .container{
    height: 800px;
    width: 400px;
    background: red;
    color: white;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
input{
    border: 1px solid black;
    border-radius: 2px;
    padding: 3px;
    font-weight: 500;
}
button{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 2px;
    padding: 3px;
    background-color: red;
    color: white;
    font-weight: 700;
}
label{
    font-size: large;
    font-weight: 500;
}

