@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#f5f7fa;
 height: 100vh;
 width: 100vw;
  
}
/* Ensure html, body, and #root take full viewport */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sidebar {
  width: 250px;
  background-color: #E53935;
  color: white;
  height: 100vh;
  padding: 30px;
  flex-direction: min-height-screen;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}
.logo{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #faefef, #E53935);
  display: flex;
  right: -100px;
}
.footer-text {
  position: absolute;
  bottom: 70px;
  width: 210px;
  font-size: 12px;
  text-align: center;
}
h1 {
  font-size: 24px;
  margin: 30px;
}
p {
  margin: 5px 0 20px 0;
  text-align: center;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}
.menu-item img {
  margin-right: 10px;
}
.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Additional styles can be added as needed */

.main-content {
  margin-left: 250px;
  padding: 100px;
  flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center relative;
    background-color: #ffffff;
}
.login-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
  font-size: 15px;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button {
    width: 100%;
    padding: 10px;
   
    background-color: #E53935;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.footer{
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    text-align: center;
    bottom: 70px;
}
.icon-circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ffffff, #f44336);
  display: flex;
  align-items: center;
  justify-content: center;

}
.by{
  text-align: center;
}
h2{
  font-style: italic ;
  font-size: 25px;
  
}