@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#ecececb9;

 height: 100vh;
 width: 100vw;
  
}
/* Ensure html, body, and #root take full viewport */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sidebar {
  width: 356px;
  height: 872px;
  background-color: #E53935;
  color: white;
  padding: 30px;
  flex-direction: min-height-screen;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-left: 70px;
}
.logo{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #faefef, #ffffff);
  display: flex;
  right: -90px;
 
  align-items: center;
  justify-content: center;
}
.footer-text {
  position: absolute;
  bottom: 70px;
  width: 210px;
  font-size: 12px;
  text-align: center;
}
h1 {
  font-size: 24px;
  margin: 30px;
  font-family: cabin;
}
h3{

flex-shrink: 0;
 color: #212121;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 41.6px */

}
p {
  margin: 5px 0 20px 0;
  text-align: center;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}
.menu-item img {
  margin-right: 10px;
}
.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Additional styles can be added as needed */

.main-content {
  margin-left: 250px;
  margin-bottom: 50px;
  padding: 100px;
  flex-direction: column ;
    align-items: center;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
   
}
.login-form {
width: 300px;
height: 330px;
flex-shrink: 0;
border-radius: 12px;
background: #ffffff;
box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
margin-top: auto;

}
input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}
.button-container {
   width: 90%;
   padding: 10px;
    margin-top: 20px;
    background-color: #E53935;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.footer{
   color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 20.8px */

    
}
.icon-circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;

}
.by{
  text-align: center;
}
.text {
color: #212121;
text-align: center;
font-family: Jaro;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 65px */
padding: 0px 0px 20px 0px;
width: 462px;
height: 142px;
}
.logoname{
  color: #FFF;
text-align: center;
font-family: JejuGothic;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 31.2px */
}
.image{
  width: 270px;
  height: 270px;
  border-radius: 50%;
}
